@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

html {
    font-size: 14pt;
}

body {
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}


/* large format */

@media screen and (min-width: 768px) {

    #header {
    	background-color: #336699;
    	width: 250px;
    	height: 1800px;
    	float: left;
    	color: white;
    	padding: 10px;
    	font-size: 18pt;
    	text-align: right;
    }

    #header>h1 {
    	font-size: 2.5em;
    	margin-top: 0px;
    }

    #header>h2 {
    	font-size: 1.1em;
    	margin-top: 1.1em;
    }

    #content {
    	padding: 10px;
    	margin-left: 270px;
    	width: 650px;
    }

    #content>h1 {
    	font-size: 60px;
    	margin-top: 0px;
    }

    .title {
    	margin-top: 1em;
    	margin-bottom: 0px;
    }

    .employer {
    	margin-top: 0px;
    	margin-bottom: 0px;
        font-size: .9em;
        white-space: pre-wrap;    	
    }

    .time-and-place {
        margin-top: 0px;
        margin-bottom: 1rem;
        font-size: .8em;
        white-space: pre-wrap;      
    }

    .left {
    }

    .center {
    	margin-left: 100px;
    }

    .right {
    	float: right;
    }

    .profilepic {
    	height: 150px;
    }

    #skillsgrid {
    	width: 100%;
    }

    .skillsgridrow {
    	height: 70px;
    }

    .col {
    	width: 25%;
    	margin: 3%;
    	display: inline-block;
    	text-align: center;
    }

    .indent {
        width: 25%;
        margin-left: 3%;
        margin-right: 3%;
        display: inline-block;
        text-align: center;
    }

    .last {
        width: 25%;
        margin-left: 3%;
        margin-right: 3%;
        display: inline-block;
        text-align: right;
    }

}


/* mobile format */

@media screen and (max-width: 767px) {

    #header {
        background-color: #336699;
        width: 100%;
        height: 300px;
        color: white;
        padding: 5px;
        font-size: 18pt;
        text-align: right;
    }

    #content {}
}



/* for jquery-ui tooltip */

.ui-tooltip {
    font-size: .75em !important;
    padding: 5px !important;
    background-color: white !important;
    color: #336699 !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 3px #336699 !important; 
}